<!DOCTYPE html>
<html>
<head>
    <title>About SpaceTimeNoise</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>About SpaceTimeNoise</h1>
        <table class="about-content">
            <tr>
                <td>
                    <div class="text">
                        <p>Welcome to SpaceTimeNoise, we provide custom software development and architectural scaling. We specialize in leveraging modern C++ effectively to deliver high-performance, reliable, and maintainable software solutions.</p>
                        <p>As the Principal Consultant at SpaceTimeNoise, my mission is to assist tech startups and organizations in achieving their goals by providing expert services that span the entire software development lifecycle.</p>
                        <h2>Our Services</h2>
                        <ul>
                            <li>Code Review and Optimization</li>
                            <li>Custom Software Development, including solution design, coding, and testing</li>
                            <li>Debugging and Troubleshooting</li>
                            <li>Consultation and Guidance</li>
                            <li>Performance Tuning</li>
                            <li>Porting and Migration</li>
                            <li>Security Vulnerability Assessment</li>
                            <li>Documentation</li>
                            <li>Project Management</li>
                            <li>Code Standardization</li>
                            <li>Code Migration</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="image">
                        <img src="/Users/leanne/spacetimenoise-consultancy/images/ce.png" alt="Dr Leanne J Dong" width="200" height="400">
                    </div>
                </td>
            </tr>
        </table>
        <p>At SpaceTimeNoise, we are committed to delivering software solutions that not only meet but exceed your expectations. Our expertise in C++, combined with our dedication to quality and innovation, sets us apart as a trusted partner for your software needs.</p>
        <!-- Add any additional content or contact information as needed -->
    </div>
</body>
</html>
